body {
    margin: 0;
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ffa366;
    background-color: #ff5213;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    width: 100%;
}

li {
    float: left;
    border-right: 1px solid #ffa366;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #c54618;
}

li a.active {
    background-color: #266b80;
}

a {
    display: block;
    padding: 8px;
}

li:last-child {
    border-right: none;
}

#header{
    color: orchid ;
    font-size: 3rem;
    text-align: center;
}

#text-colour {
    color: rgb(156, 80, 80);
    text-align: center;
}

.text-colour{
    color: orange;
    text-align: center;
}

#block1 {
    font-size: 1.5rem;
    color: greenyellow;
    text-align: center;
}

#block2{
    text-align: center;
    color: white;
    font: message-box;
    font-style: italic;
}

img {
    display: block;
    height: 406.4px;
    width: 508px;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
}

#footer {
    font-size: 1.5rem;
    color: lightgray;
    text-align: center;
}